[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
py2neo = "*"
neo4j = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
